<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<%- include('partials/header'); %>
<main>

<h1>Create a new post</h1>

<div class="create-post">
    <form action="/posts" method="POST">
        <label for="text">Post text:</label>
        <input type="text" id="text" name="text" required><br><br>
        <label for="image"> Image URL link:</label>
        <input type="text" id="image" name="image"></textarea><br><br>
        <button>Submit</button>
    </form>
</div>



</main>
<%- include('partials/footer'); %>
</body>
</html>