<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<nav>
    <a href="/">Home </a> |
    <a href="/posts">Posts page</a> |
    <a href="/contacts">Contact us</a>
</nav>

<h1>Home page</h1>

<footer class="footer">
    <p>© WAD 2021 </p>
</footer>

</body>
</html>