<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<%- include('partials/header'); %>
<main>
    <h1>Home page</h1>
</main>
<%- include('partials/footer'); %>
</body>
</html>