<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<%- include('partials/header'); %>
<main>
    <h1>Home page</h1>
    <h2>In this web application, you can:</h2>
    <br><br>
    <a href="/posts" class="big-link-button">Watch posts</a>
    <br><p class="big-text">and</p>
    <a href="/addnewpost" class="big-link-button">Create your own posts</a>
</main>
<%- include('partials/footer'); %>
</body>
</html>