* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

main {
    margin-top: 100px;
    margin-bottom: 80px;
}

/* Posts */
.post {
    min-width: 450px;
    width: 60%;
    max-width: 720px;
    background-color: #ffffff;
    margin: 30px auto auto;
    box-shadow: 0 0 10px 1px #888888;
    padding: 20px;
    text-align: start;
}
.post-info {
    display: flex;
    flex-direction: row;
}
.post-author-photo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 10px;
    text-align: start;
    border-radius: 100%;
}
.date {
    margin-left: auto;
    font-size: 15px;
    font-style: italic;
}
.post-image {
    width: 100%;
}
.post-text {
    font-size: 22px;
    text-align: left;
}
.like-button {
    background-image: url(../assets/like.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-color: steelblue;
    width: 75px;
    height: 30px;
    text-align: end;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}
.like-button:hover {
    background-color: royalblue;
}

.delete {
    background-color: dimgray;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
}

.delete:hover {
    background-color: #f44336;
}


/* Header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 85px;
    background: white;
}
nav {
    padding: 30px;
}
nav a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: aquamarine;

    color: white;
    font-size: 20px;
}


/* New post */
.create-post label {
    font-size: 22px;
}

.create-post input {
    width: 50%;
}

.create-post input#text {
    height: 40px;
    font-size: 20px;
}

.big-button {
    font-size: 30px;
    width: 250px;
    height: 70px;

    background-color: white;
    color: black;
    border: 2px solid royalblue;
}

.big-button:hover {
    background-color: royalblue;
    color: white;
}


.big-link-button {
    background-color: white;
    border: 3px solid royalblue;
    border-radius: 5px;
    color: royalblue;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}



.big-link-button:hover {
    background-color: royalblue;
    color: white;
}

.big-text {
    font-size: 40px;
}